JetBrains/
archlinux-kernel-manager/
archlinux-tweak-tool/
arcolinux-logo/
arcolinux-welcome-app/
BraveSoftware/
darktable/
discord/
Electron/
fastfetch/
autostart/
galculator/
google-chrome/
gtk-3.0/
gtk-4.0/
inkscape/
kdenlive-layoutsrc
kdenlive-layoutsrc
Kvantum/
Meltytech/
menus/
microsoft-edge/
Mousepad/
nomacs/
obs-studio/
paru/
Raindrop.io/
RemNote/
StarUML/
sublime-text/
terabox/
TeraBox/
xfce4/
